@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;  /* Add this line */
  height: 100vh; /* Add this line */
  overflow: auto; /* Add this line */
}

.title {
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.5em;
  animation: key .3s ease infinite alternate;
}
@keyframes key {
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.card {
  position: relative;
  width: 20%;
  height: auto;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  z-index: -1;
  opacity: 0.5;
  border-radius: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card img {
  width: 100%;
  height: auto;
}

.card h2, .card p {
  margin: 0.5em 0;
}

footer {
  position: relative;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  padding: 10px 0;
}


/* Media query for devices with a maximum width of 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Mobile devices will have cards take up full width */
  }
}
