@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  font-family: 'DotGothic16', sans-serif;
  font-size: 1.5em;
}

.card {
  width: 20%;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card h2, .card p {
  margin: 0.5em 0;
}

footer {
  position: relative;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
  padding: 10px 0;
}


/* Media query for devices with a maximum width of 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Mobile devices will have cards take up full width */
  }
}
